<div class="form-input">
  <label for="{{name}}" class="">{{label}}</label>
  <input type="text" name="{{name}}" id="{{name}}" placeholder="{{label}}">
  {{#if errorText}}
    <span>{{errorText}}</span>
  {{/if}}
</div>
